.logout{
    color: #F55C23;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.logout :hover{
    color: #fff;
    text-decoration: none;
    
}

/* .btn-gallery{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000;
    text-decoration: none;
}

.btn-gallery :hover{
    color: #000;
    background-color: #F55C23;
    text-decoration: none;
} */
